/* media query for mobile device */
@media screen  and (max-width : 402px) {
    .nav-bar{
        margin-bottom: 20px;
    }
    .nav-item{
        display: none;
    }
    .hamburg{
        display: block;
    }

    .icon-nav{
        color: white;
        font-size: larger;
    }

    .banner-container{
        flex-direction: column;

    }

    .banner-title{
        font-size:3.5rem;
        width: 80%;
    }

    .banner-para{
        font-size: 1rem;
        color: #ffffff59;
        margin-top: 20px;
        margin-bottom: 30px;
        width: 80%;
    }

    .banner-btn-1{
        margin-right: 20px;
    }
    .bananer-image img{
        width: 100vw;
        height: 100vh;
        margin-top: 40px;
    }

    .banner-btn-3{
        right: 13%;
        top: 155%;
    }

    .banner-btn-4{
        left: 9%;
        top: 190%;
    }

    .habits-title{
        font-size: 2rem;
    }

    .habits-catagory-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .habit-cata-para{
        padding-top: 5px;
    }
    .habit-img{
        margin-left: 25px;
       
    }

    .run-container{
        height: 500px;
        padding: 0 20px;
        
    }

    .run-catagory{
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
    }


    .run-content{
        margin-left: 8px;
    }
    .run-btn{
        width: 100%;
    }
    .run-img img{
        width: 100%;
        margin-left: 00px;
        overflow: hidden;
        margin-top: -30px;
    }


    .bmi-text>h2{
        padding-top: 20px
        font-size: 1.5rem;
        text-align: start;
        width: 100%;
        margin: 0;
        margin-top: -70px;
    }
    .bmi-text>p {
        padding-top: 30px;
        text-align: start;
        width: 100%;
        margin: 0;
        color: #7a7a7a;
        
    }

    .boxes-bmi{
        flex-direction: column;
    }

    .bmi-container{
        height: 800px;
    }

    .bmi-left-box{
        width: 100%;
        align-items: start;
        margin-left: 20px;
       
    }

    .bmi-right-box{
        margin-left: 10px;
        
    }
    .bmi-right-box>h3 {
        margin-top: 5px;
    
    }

    .bmi-right-box>p {
        margin-top: 20px;
        width: 95%;
    
    }

    table {
        width: 90%;
        margin-top: -160px;
        
    }

    input {
        width: 80%;
    }
    
    select {
        width: 96%;
    }
    #select-factor{
        width: 195%;
    }
    .bmi-right-box {
        margin-left: 0;
        padding: 0 20px;
    }
    #calculate{
        margin-left: 10px;
    }

    #bmi-left-chart-title{
        margin-top: -70px;
    }

    #bmi-right-chart-title{
        margin-top: -70px;
    }



    .team-title{
        margin-top: -60px;
    }
    .team-captions{
        height: 1420px;
       
    }
    .team-img{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 15px;
        padding-top: 25px;
       
    }

    .img-team-size{
        height: 210px;
        width: 310px;
    }
}